* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}


body {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: rgba(111, 116, 117, 0.877);
}
nav {
    display: flex;
    background-color: rgba(76, 87, 90, 0.877);
    width: 100vw;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
}

nav li {
    padding: 20px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: white;
    
}

.large {
    font-size: 3rem;
}

h1 {
    margin-top: 30px;
    color: rgba(42, 153, 153, 0.863);
    font-size: 4rem;
}

.schulte-container {
    display: contents;
    margin: 10%;
}

.button {
    background-color:rgba(42, 153, 153, 0.863);
    color: white;
    border-radius: 15%;
    border:none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

.start-button {
    margin: 10px;
    padding: 10px 20px;
}

.pause-button, .continue-button{
    margin: 0;
    padding: 10px 15px;

}

#stopwatch{
    color: rgb(37, 122, 122);
    font-size: xx-large;
}

.schulte-table {
    border-collapse: collapse;
    border-color: rgba(3, 127, 161, 0.877);
    width: auto;
    height: auto;
}

.schulte-table td {
    padding: 2rem;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color:rgba(76, 87, 90, 0.877)
}

.correct-cell {
    color: #fff; 
    animation: correct-animation 0.1s;
}
.wrong-cell {
    color: #fff;
    animation-name: wrong-animation;
    animation-duration: 0.1s;
    
}

@keyframes wrong-animation {
    from {background-color: rgba(231, 61, 61, 0.356);}
    to {background-color: #fff;}
}
@keyframes correct-animation {
    from {background-color: rgba(2, 126, 2, 0.89); }
    to {background-color: #fff;}
}

.pause {
    display: none;
}
.non-select {
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

@media only screen and (max-width: 700px) {
    /* for mobile phones */
    
    nav {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    /* for mobile phones */
    h1 {
        font-size: 3rem;
    }
    .schulte-table td {
        padding: 1rem;
    }
    footer {
        padding: 10px 0;
    }
}


@media only screen and (max-width: 400px) {
    /* for mobile phones */
    h1 {
        font-size: 2rem;
    }
    .schulte-table td {
        padding: 8px;
    }
}

@media only screen and (max-height: 575px) {
    footer {
        padding: 10px 0;
        font-size: xx-small;

    }
}





