* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;

}

footer {
    display: flex;
    min-height: 40px;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* padding: 15px; */
    color: white;
    background-color: rgba(111, 116, 117, 0.877);
}
nav {
    display: flex;
    background-color: rgba(76, 87, 90, 0.877);
    width: 100%;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
}

nav li {
    padding: 10px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    
}

.large {
    font-size: 1.6em;
}

header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

h1 {
    margin-top: 30px;
    color: rgba(42, 153, 153, 0.863);
    font-size: 3.6rem;
}

.schulte-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color:rgba(42, 153, 153, 0.863);
    color: white;
    border-radius: 15%;
    border:none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.start-button {
    margin: 10px;
    padding: 10px 20px;
}

.pause-button, .continue-button{
    margin: 0;
    padding: 10px 15px;

}

#stopwatch{
    color: rgb(37, 122, 122);
    font-size: xx-large;
}

.schulte-table {
    border-collapse: collapse;
    border-color: rgba(3, 127, 161, 0.877);
    width: auto;
    height: auto;
    margin-bottom: 40px;
}

.schulte-table td {
    padding: 1.4rem;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
    color:rgba(76, 87, 90, 0.877)
}

.score {
    font-size: 2.6rem;
    font-weight: bold;
    text-align: center;
    color:rgba(147, 77, 165, 0.877);
    
}

.correct-cell {
    color: #fff; 
    animation: correct-animation 0.1s;
}
.wrong-cell {
    color: #fff;
    animation-name: wrong-animation;
    animation-duration: 0.1s;
    
}

.records-container {
    display: flex;
    flex-direction: column;
}

.records-table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    color: rgb(246, 255, 115);
    background: rgba(147, 77, 165, 0.877);
    
}

.records-table td{
    width: 30px;
    border: 1px solid rgb(208, 211, 25);
}

.records-table td:hover{
    color: transparent;
    background-image: url(./assets/remove-delete-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 1.5rem;
    background-blend-mode: saturation;
}

.records-table caption {
    padding: 5px 0px;
    background: rgba(92, 13, 194, 0.877);
}



@keyframes wrong-animation {
    from {background-color: rgba(231, 61, 61, 0.356);}
    to {background-color: #fff;}
}
@keyframes correct-animation {
    from {background-color: rgba(2, 126, 2, 0.89); }
    to {background-color: #fff;}
}

.pause {
    display: none;
}

.non-select {
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

@media only screen and (max-width: 800px) {
    /* for mobile phones */
    h1 {
        font-size: 2.6rem;
    }
    .schulte-table td {
        padding: 0.8rem;
    }
    #stopwatch{
        font-size: 1.6rem;
    }
    footer {
        height: 20px;
    }
}


@media only screen and (max-width: 400px) {
    /* for mobile phones */
    h1 {
        font-size: 2rem;
    }
    .schulte-table td {
        padding: 8px;
    }
}

@media only screen and (max-height: 768px) {
    footer {
        height: 10px;
    }
}





